@import 'bootstrap/dist/css/bootstrap.min.css';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Header */
.header{
  background-color: #FF5A5A;
}
.brand{
  font-size:36px;
  font-style: bold;
  color:white;
}
.search{
  width:50vw;
  height:40px;
  background-color:#E9E4E4;
  border-radius: 20px;
}
.google__signin{
  display:none;
}
.google__icon{
  width:60px;
  cursor:pointer;
}

/* Search Results */

.thumbnail{
  width:100%;
  height:100%;
  max-height: 20vw;
}
.search__item{
  cursor:pointer;
  margin-bottom: 20px;
}
.noresult{
  width:40vw;
}